.dashboard {
    background-color: rgb(14, 176, 163);
    border: 1px solid lightgray;
    margin-right: 15px;
    padding: 30px;
    width: 100%;
   

    &__header {
        display: flex;
        justify-content: space-around;
        background-color: lightgray;
        font-size: 12px;
        padding: 0 10px;
    }

    &__field {
        font-weight: 700;
        
        &.email,
        &.description {
            width: 30%;
        }

        &.score,
        &.status {
            width: 10%;
        }

        &.date {
            width: 20%;
        }
    }
}